{% extends 'base.html' %}
{% load static i18n widget_tweaks landskap_tags %}


{% block content %}
    <div class="new_cafe container my">
        <span class="span_products_edit">NEW MODIFIER</span>
        <div class="div_products_edit"></div>
    </div>

    <div class="towns container my">
        <div class="row">

            <div class="col-xl-9 col-lg-9 col-md-6 col-sm-12">
                {{ form.errors }}
                <form method="post" action="" class="products_edit_form" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="products_edit_left_form">
                        <div class="form-group">
                            {% render_field form.title placeholder='Name' %}
                        </div>
                        <div class="form-group">
                            <label class="control-label">Modifier available</label>
                            <select name="available">
                                <option value="False">Not available</option>
                                <option selected value="True">Available</option>
                            </select>

                        </div>
                        <div class="form-group">
                            <label class="control-label">Modifier is top</label>
                            <select name="is_top">
                                <option value="False">No</option>
                                <option selected value="True">Yes</option>
                            </select>

                        </div>
                        <div class="form-group">
                            <label class="control-label">Modifier is single</label>
                            <select name="is_single">
                                <option value="False">No</option>
                                <option selected value="True">Yes</option>
                            </select>

                        </div>
                        <div class="form-group">
                            <label class="control-label">Modifier is required</label>
                            <select name="required">
                                <option value="False">No</option>
                                <option selected value="True">Yes</option>
                            </select>

                        </div>
                    </div>
                    <div>
                        <button>Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="all_display"></div>

    <script src="{% static 'JQuery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}

{% block css %}
    <style>

    </style>
{% endblock %}