{% extends 'base.html' %}
{% load static widget_tweaks i18n %}

{% block content %}
    <div class="new_cafe container my">
        <span class="span_employee_edit">Password set</span>
        <div class="div_employee_edit"></div>
    </div>

    <div class="towns container my">
        <div class="row">
            <div class="col-md-12">
                {% include 'parts/form-template.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block css %}
{% endblock %}
{% block js %}
{% endblock %}